<nav class="navbar">
	<!-- bg-light"> -->
	<div class="container">
		<a
			href="tothispage"
		>
			<img
				class="navbar-brand logo"
				src="/images/logo-airbnb.png"
				alt="airbnb logo"
			/>
		</a>
		<!-- !!! make image and text align in account button -->
		<div class="d-flex-inline">
			<a
				href="..."
				class="btn btn-outline-secondary d-flex-inline align-items-center me-2"
				><img
					src="https://randomuser.me/api/portraits/men/11.jpg"
					alt=""
					class="avatar-img"
				/>
				<span>Account</span></a
			>
			<a href="..." class="btn btn-outline-secondary">Logout</a>
		</div>
	</div>
</nav>
