<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <title>Airbnb</title>
    <link rel="stylesheet" href="/css/bootstrap.css" />
		<link rel="stylesheet" href="/css/stylesheet.css" />
		<!-- src fp ? -->
		<script type="text/javascript" src="/js/script.js" defer></script>
		<script
			src="https://kit.fontawesome.com/407528ad03.js"
			crossorigin="anonymous"
		></script>
		<!-- Google fonts? -->
  </head>
  <body>
    {{{body}}}
  </body>
</html>
