<div class="background-image">
  <!-- login form card -->
  <!-- !!! need to make this centred (margins on row!) -->
  <!-- need to remove lines between inputs -->
  <!-- text smaller than on signup page -->
  <div class="container-fluid">
    <div class="row justify-content-center align-items-center">
      <div class="col-4">
        <div class="card width-cust">
					<div class="my-1 mx-auto text-align-center">
						<img
							class="navbar-brand logo text-align-center"
							src="/images/logo-airbnb.png"
							alt="airbnb logo"
						/>
					</div>
					<!-- form -->
          <form action='/auth/login' method='post'>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">
                <div class="mb-1">
                  <label class="form-label"
                    >Email</label
                  >
                  <input
                    type="email"
                    class="form-control"
										name="email"
                  />
                </div>
              </li>
              <li class="list-group-item">
                <div class="">
                  <label class="form-label"
                    >Password</label
                  >
                  <input
                    type="password"
										name="password"
                    class="form-control"
                  />
                </div>
              </li>
              <li class="list-group-item">
                <!-- !!! change formatting -->
                <button type="submit" class="btn btn-primary ms-1">Login</button>
              </li>
            </ul>
          </form>
          <!-- end login form -->
          <!-- signup line -->
          <p class="ms-3">New to airbnb? <a href="/auth/signup">Signup</a></p>
        </div>
      </div>
    </div>
  </div>
</div>
