  <body class="background-image">
    <!-- login form card -->
    <!-- !!! need to make this centred (margins on row!) -->
    <!-- need to remove lines between inputs -->
    <!-- text smaller than on signup page -->
    <div class="container-fluid">
      <div class="row justify-content-center align-items-center">
        <div class="col-4">
          <div class="card width-cust">
						<!-- form -->
            <form action='/auth/login' method='post'>
              <ul class="list-group list-group-flush">
                <li class="list-group-item">
                  <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label"
                      >Email</label
                    >
                    <input
                      type="email"
                      class="form-control"
											name="email"
                      id="exampleInputEmail1"
                      aria-describedby="emailHelp"
                    />
                  </div>
                </li>
                <li class="list-group-item">
                  <div class="mb-3">
                    <label for="exampleInputPassword1" class="form-label"
                      >Password</label
                    >
                    <input
                      type="password"
											name="password"
                      class="form-control"
                      id="exampleInputPassword1"
                    />
                  </div>
                </li>
                <li class="list-group-item">
                  <!-- !!! change formatting -->
                  <button type="submit" class="btn btn-primary">Login</button>
                </li>
              </ul>
            </form>
            <!-- end login form -->
            <!-- signup line -->
            <p>New to airbnb? <a href="/auth/signup">Signup</a></p>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
