  <body class="background-image">
    <!-- login form card -->
    <!-- !!! need to make this centred -->
    <!-- need to remove lines between inputs -->
    <!-- text smaller than on signup page -->
    <div class="row justify-content-center align-items-center">
      <div class="col-4">
        <div class="card width-cust">
          <form>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">
                <div class="mb-3">
                  <label for="exampleInputEmail1" class="form-label"
                    >Your Full Name</label
                  >
                  <input
                    type="text"
                    class="form-control"
                    id="exampleInputEmail1"
                    aria-describedby="emailHelp"
                  />
                </div>
              </li>
              <li class="list-group-item">
                <div class="mb-3">
                  <label>Profile Picture</label>
                  <input
                    type="text"
                    class="mb-3 form-control"
                    placeholder="http://..."
                    aria-describedby="."
                  />
                </div>
              </li>
              <li class="list-group-item">
                <div class="mb-3">
                  <label for="exampleInputEmail1" class="form-label"
                    >Email address</label
                  >
                  <input
                    type="email"
                    class="form-control"
                    id="exampleInputEmail1"
                    aria-describedby="emailHelp"
                  />
                </div>
              </li>
              <li class="list-group-item">
                <div class="mb-3">
                  <label for="exampleInputPassword1" class="form-label"
                    >Password</label
                  >
                  <input
                    type="password"
                    class="form-control"
                    id="exampleInputPassword1"
                  />
                </div>
              </li>
              <li class="list-group-item">
                <!-- !!! change formatting -->
                <button class="btn btn-primary">Signup</button>
              </li>
            </ul>
          </form>
          <!-- end signup form -->
          <!-- login line -->
          <p>Already have an account? <a href="#">Login</a></p>
        </div>
      </div>
    </div>
  </body>
</html>
